<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
      canvas {
        margin: auto;
        background: #ececec;
        width: 100%;
      }

      .btn-disabled {
        color: #fff !important;
      }
      .form-disp {
        margin: 50px 0px;
        padding: 0px;
        text-align: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detect</title>
  </head>
  <body
    style="background-image: url('static/find.jpg'); background-size: cover;"
  >
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/">Stylize</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/artify">Artify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/edit">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/detect">Detect</a>
          </li>
        </ul>
      </div>
    </nav>

    <form
      action="http://localhost:5000/detect_perform"
      method="POST"
      enctype="multipart/form-data"
      class="form-disp"
      style="background-color: aliceblue;"
    >
      <br />
      <div class="form-group">
        <label for="detect_image">Image: </label>
        <input type="file" name="detect_image" id="detect_image" />
        <small class="form-text text-muted"
          >Enter the image you want to detect objects in</small
        >
      </div>
      <!-- <input type="submit" /> -->
      <div class="form-group">
        <button type="submit" class="btn btn-secondary mb-2" onclick="end()">
          Submit
        </button>
        <small class="form-text text-muted"
          >Note- Running the model may take some time.</small
        >
      </div>

      <div id="loading">
        <img
          id="loading-image"
          src="https://i.gifer.com/4V0b.gif"
          alt="Loading..."
        />
        <h6>
          We are detecting the objects. You should see the results in a popup
          soon!
        </h6>
      </div>
    </form>

    <script>
      window.onload = function () {
        document.getElementById("loading").style.display = "none";
      };

      function end() {
        document.getElementById("loading").style.display = "inline-block";
        document.getElementById("loading").style.float = "center";
      }
    </script>
  </body>
</html>
