<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h2>Styled Image</h2>
    <br />
    <img src="{{ output_image }}" alt="" />
    <h3>Content Image</h3>
    <br />
    <img src="{{ content_image }}" alt="" />
    <h3>Style Image</h3>
    <br />
    <img src="{{ style_image }}" alt="" />

    <!-- <form
      action="http://localhost:5000/home"
      method="POST"
      enctype="multipart/form-data"
    >
      <label>Submit again? </label>
      <input type="submit" />
    </form> -->
  </body>
</html>
