<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      canvas {
        margin: auto;
        background: #ececec;
        width: 100%;
      }

      .btn-disabled {
        color: #fff !important;
      }
      .form-disp {
        margin: 50px 0px;
        padding: 0px;
        text-align: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <h1>Welcome to Stylize</h1>
    <script>
      $(function () {
        $("#nav-placeholder").load("/templates/nav.html");
      });
    </script>
  </body>
</html>
